body,#root{
    height:100%;
}
body{
    font-family: '../src/assets/BarlowCondensed-Regular.ttf';
    overflow-x: hidden;
   
    
}
.divider {
    display: flex;
    align-items: center;
    text-align: center;
    width: 100%;
}

.divider::before,
.divider::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid #e0e0e0; 
}

.divider-text {
    padding: 0 10px;
    color: #787878; 
    font-size: 14px; 
    white-space: nowrap;
}
.furni_flex_icon{
  
    top: 35%;  
    left: 50%; 
    width: 200px;
}
.furni_flex_icon img{
    display: flex;
    margin-left: auto;
    margin-right:auto;
}
.furni{
    margin-left: auto;
    display: flex;
    padding: 0px;
    width: 162px;
    margin-right: auto;
}
.signup_description{
    
    top: 50%;  
    left: 50%; 
    width: 300px;
}
.signup_description h4{
    display: flex;
    margin-left: auto;
    margin-right:auto;
}
.signup_description_wrapper{
    top: 52%;
    left: 46%;
}
.cursor{
    padding-top:21px; 
    line-height: 1.5;  
}
.active{
    background-color: #F2F2F2;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
}
.active1{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    background-color: #0E0E0E;
    color:white;
}
.padding{
    padding-top: 5px!important;
    padding-bottom: 5px!important;
    padding-left: 10px!important;
    padding-right: 10px!important;
    border-radius: 15px!important;
}
.mid-width{
    width:calc(100vw - 13rem);
    z-index:1
}
hr{
    z-index:100;
    position:sticky;
    top:0
}
.z-index{
    z-index:1111111!important;
    background-color: white!important;
}
.z-100{
    z-index:10!important;
   background-color: white;
}
.center-container {
    display: flex;               
    justify-content: center;     
    align-items: center;         
    height: 100vh;  
    text-align: center;              
}

